@{
    ViewData["Title"] = "Home Page";
}

<div class="position-absolute vh-100 vw-100 d-flex justify-content-center align-items-center" style="top: 0; left: 0;">
    <!-- Primera imagen -->
    <img id="fondo2" class="position-absolute fixed-top start-0 vw-100 vh-100" src="https://store-images.s-microsoft.com/image/apps.29865.14573449505340069.0f503adc-58ce-4d41-a12d-792f97d4a1c0.39c05ae6-8cdd-4ac0-8e1e-bdcf27a95413">
    
    <!-- Segunda imagen -->
    <img id="fondo1" class="position-absolute fixed-top start-0 vw-100 vh-100" src="https://store-images.s-microsoft.com/image/apps.29865.14573449505340069.0f503adc-58ce-4d41-a12d-792f97d4a1c0.39c05ae6-8cdd-4ac0-8e1e-bdcf27a95413">
    <button type="button" id="btnJugar" class="btn btn-success btn-lg position-relative" style="margin-top: 7%; margin-left: -1%;" onclick="transicion()">Jugar</button>

    <form method="POST" action='@Url.Action("IniciarJuego", "Home")' class="d-none" id="form">
        <div class="row pb-2 align-items-center rounded border" style="background-color: white;">
            <div class="col-auto">
                <label for="inputNombre" class="col-form-label">Nombre</label>
            </div>
            <div class="col-auto">
                <input type="password" name="nombre" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                Must be 8-20 characters long.
                </span>
            </div>
        </div>
        <div class="row pt-1 align-items-center">
            <div class="col-auto mx-auto">
                <button type="submit" class="btn btn-success btn-lg" >Empezar ahora!</button>
            </div>
        </div>
    </form>

    <script>
        function transicion()
        {
            //document.getElementById("fondo").src = "https://fotografias.antena3.com/clipping/cmsimages02/2020/01/10/ABE9B428-C9D0-4676-80E0-D1E512848828/57.jpg";
            //$("#btnJugar").css("display", "none");
            //$("#form").css("display", "block");
            $("#fondo1").fadeOut(function() {});
            $("#btnJugar").fadeOut(function() {
                $("#form").fadeIn(250, function(){
                $("#form").css("display", "inline-block");
            });
            });
        }
    </script>
</div>
