<head>
    <script>
        $(document).ready(function(){});
    </script>
</head>

<body onload="modalPreexistente()">
    <p>
        @ViewBag.Preexistente
    </p>

    <!-- Modal para comprobar si el jugador ya existia previamente, y confirmar si se quiere recargar el usuario o empezar de cero -->
    <div class="modal" tabindex="-1" role="dialog" id="Preexistente">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Notificacion</h5>
                </div>
                <div class="modal-body">
                    <p>Se ha encontrado un jugador que previamente tenia el mismo nombre. Desea mantener los datos precargados o prefiere reiniciar la partida?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Mantener actual</button>
                    <button type="button" class="btn btn-secondary" onclick="ReiniciarJugador()" data-bs-dismiss="modal">Reiniciar partida</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function modalPreexistente()
        {
            var Preexistente = '@ViewBag.Preexistente';
            if(!Preexistente) return;

            var myModal = new bootstrap.Modal(document.getElementById('Preexistente'), {
                keyboard: false
            });

            myModal.show();
        }

        function ReiniciarJugador()
        {
            //AJAX al action ReiniciarJugador
                $.ajax({
                    type: 'POST',
                    dataType: "JSON",
                    url: '@Url.Action("ReiniciarJugador", "Home")',
                    data: { },
                    success:
                        function () {
                        }
                })
        }
    </script>
</body>